body {
    margin: 0;
}

header {
    /* background-color: #F53B00; */
    background-color: #FE8946;
    margin: 0;
    color: #F7F7F5;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 10px solid #CDA867;
}

ul {
    list-style: none;
}

li {
    display: inline;
}

a {
    color: #F7F7F5;
    text-decoration: none;
}

h1, figure, section {
    text-align: center;
}

img {
    width: 60rem;
}

section {
    background-color: #CDA867;
    border-top: 10px solid #FE8946;
    color: #F7F7F5
}

form {
    width: 30%;
    margin: 0 auto;
    border: 5px solid #FE8946;
}

fieldset {
    border: none;
    padding-bottom: 5px
}

footer {
    text-align: center;
}